<% if(typeof table_poi !='undefined'){%>
  <% table_poi.forEach(function(poi,i){%>
<tr>
    <td><%=i%></td>
    <td><%=poi.name%></td>
    <td><%=poi.short_description%></td>
    <td>
      <img class="poi_logo" src="<%=poi.cdn_logo%>"/></td>
    <td class="text-center">
      <a class='btn btn-info btn-xs' href="/dishes/edit/<%=poi._id%>"><span class="glyphicon glyphicon-edit"></span> Edit</a>
       <a href="/dishes/remove/<%=poi._id%>" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Del</a>
     </td>
</tr>

<%})}%>
