<% if(typeof table_business !='undefined'){%>
  <% table_business.forEach(function(business,i){%>
<tr>
    <td><%=i%></td>
    <td><%=business.name%></td>
    <td><%=business.admin_id%></td>
    <td><%=business.short_description%></td>
    <td>
      <img class="business_logo" src="<%=business.cdn_logo%>"/></td>
    <td class="text-center">
      <a class='btn btn-info btn-xs' href="/business/edit/<%=business._id%>"><span class="glyphicon glyphicon-edit"></span> Edit</a>
       <a href="/business/remove/<%=business._id%>" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Del</a>
     </td>
</tr>

<%})}%>
