<!DOCTYPE html>
<html lang="en">

<head>
    <% include parts/head_content.ejs %>
        <style>
            #add_user {
                margin-left
            }
        </style>
</head>

<body>

    <div class="container">

        <% include parts/navbar.ejs %>


<% var edit = typeof edit_trophey !='undefined';%>

            <div class="container">
                <div class="page-header">
                    <h3><%=edit?'Edit Trophey of':'Add Trophey to'%> <%=edit_user.displayName%></h3>
                </div>

                <form action="" class="form-horizontal" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="name">Name*</label>
                        <div class="col-sm-7">
                            <input class="form-control" id="name" name="name" type="text" value="<%=edit?edit_trophey.name:''%>"required>
                        </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-3 control-label" for="description" >Description*</label>
                      <div class="col-sm-7">
                          <input class="form-control" id="description" name="description" type="text"
                          value="<%=edit?edit_trophey.description:''%>" required/>
                      </div>
                  </div>

                    <div class="form-group">
                      <label class="col-sm-3 control-label" for="business_id" >Business id*</label>
                      <div class="col-sm-7">
                          <input class="form-control" id="business_id" name="business_id" type="text"
                          value="<%=edit?edit_trophey.business:''%>"/>
                      </div>
                  </div>


                  <div class="form-group">
                    <label class="col-sm-3 control-label" for="value" >Value*</label>
                    <div class="col-sm-7">
                        <input class="form-control" id="value" name="value" type="text"
                        value="<%=edit?edit_trophey.value:''%>"/>
                    </div>
                </div>


                  <div class="form-group">
                                        <label class="col-sm-3 control-label" for="logo">Picture*</label>
                                        <div class="col-sm-7 input-group" style="padding-left: 17px;max-width: 350px;">
                                              <label class="input-group-btn">
                                                  <span class="btn btn-primary">
                                                      Browse <input id="logo" name="picture" type="file" style="display: none;" multiple="" <%=edit?'':'required'%>>
                                                  </span>
                                              </label>
                                              <input type="text" class="form-control" readonly="">
                                          </div>
                  </div>

                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-4">
                            <button class="btn btn btn-primary" type="submit"><i class="fa fa-pencil"></i>
                              <%=edit?'Update Trophey':'Add Trophey'%></button>
                        </div>
                    </div>
                </form>

            </div>



    </div>
    <!-- /container -->



    <% include parts/scripts.ejs %>
</body>

</html>
