<!DOCTYPE html>
<html lang="en">

<head>
    <% include parts/head_content.ejs %>
        <style>
            #add_user {
                margin-left
            }
        </style>
</head>

<body>

    <div class="container">

        <% include parts/navbar.ejs %>


<% var edit = typeof edit_user !='undefined'%>

            <div class="container">
                <div class="page-header">
                    <h3>Profile Information</h3>
                </div>
                <form action="/users/<%=edit?'edit/'+edit_user._id:'add'%>" class="form-horizontal" method="post" enctype="multipart/form-data"> 
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="username">Username*</label>
                        <div class="col-sm-7">
                            <input class="form-control" id="username" name="username" type="text" value="<%=edit?edit_user.username:''%>"required>
                        </div>
                    </div>
                      <div class="form-group">
                        <label class="col-sm-3 control-label" for="password" >Password<%if(!edit){%>
                          *<%}%></label>
                        <div class="col-sm-7">
                            <input class="form-control" id="password" name="password" type="text"  <%if(edit){%>
                      placeholder="Leave blank if you don't want to change password."
                              <%}else{%>
                                required
                                <%}%> >
                        </div>
                    </div>

                    <div class="form-group">
                      <label class="col-sm-3 control-label" for="user_type">User type*</label>
                      <div class="col-sm-6">
                          <label class="radio col-sm-3"><input data-toggle="radio" name=
                          "user_type" type="radio" value=
                          "0" <%=edit&&edit_user.user_type==0?'checked':''%>><span>Normal user</span></label>
                          <label class=
                          "radio col-sm-3"><input data-toggle="radio" name="user_type" type=
                          "radio" value="2" <%=edit&&edit_user.user_type==2?'checked':''%>><span>Admin</span></label>
                      </div>
                  </div>

                      <div class="form-group">
                        <label class="col-sm-3 control-label" for="name">Display Name</label>
                        <div class="col-sm-7">
                            <input class="form-control" id="name" name="name" type="text" value="<%=edit?edit_user.displayName:''%>">
                        </div>
                    </div>

                    <div class="form-group" >
                      <label class="col-sm-3 control-label" for="picture">Picture</label>
                      <div class="col-sm-7 input-group" style="padding-left: 17px;max-width: 350px;">
                            <label class="input-group-btn">
                                <span class="btn btn-primary">
                                    Browse <input id="picture" name="picture" type="file" style="display: none;" multiple="">
                                </span>
                            </label>
                            <input type="text" class="form-control" readonly="">
                        </div>
                                </div>


                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="birthday">Birthday</label>
                        <div class="col-sm-7">
                            <input class="form-control" id="birthday" name="birthday" type="date"  value="<%=edit?edit_user.birthdayFormat():''%>">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="email">Email</label>
                        <div class="col-sm-7">
                            <input class="form-control" id="email" name="email" type="email" value="<%=edit?edit_user.email:''%>">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-4">
                            <button class="btn btn btn-primary" type="submit"><i class="fa fa-pencil"></i>
                              <%=edit?'Update User':'Add User'%></button>
                        </div>
                    </div>
                </form>

            </div>



    </div>
    <!-- /container -->



    <% include parts/scripts.ejs %>
</body>

</html>
