<!DOCTYPE html>
<html lang="en">

<head>
    <% include parts/head_content.ejs %>
        <style>
            #add_posts {
                margin-left
            }
            select#categories{
              width:100%;
              float:left;
            }
        </style>
</head>

<body>

    <div class="container">

        <% include parts/navbar.ejs %>


<% var edit = typeof edit_posts !='undefined'%>
            <div class="container">
                <div class="page-header">
                    <h3>Post Information</h3>
                </div>

                <form action="/post/<%=edit?'edit/'+edit_posts._id:'add'%>" class="form-horizontal" method="post" enctype="multipart/form-data">
                  <input id="schedule_count" type="hidden" name="schedule_count" value=1/>

                      <div class="form-group">
                        <label class="col-sm-3 control-label" for="admin_id" >Admin*</label>
                        <div class="col-sm-7">
                            <input class="form-control" id="admin_id" name="admin_id" type="text"  value="<%=edit?edit_posts.admin_id:''%>" required >
                        </div>
                    </div>

                    <div class="form-group">
                      <label class="col-sm-3 control-label" for="content">Content</label>
                      <div class="col-sm-7">
                          <input class="form-control" id="content" name="content" type="text" value="<%=edit?edit_posts.content:''%>">
                      </div>
                  </div>




                                <div class="form-group" >
                                  <label class="col-sm-3 control-label" for="images">Images</label>
                                  <div class="col-sm-7 input-group" style="padding-left: 17px;max-width: 350px;">
                            <label class="input-group-btn">
                                <span class="btn btn-primary">
                                    Browse <input id="large_image" name="images" type="file" style="display: none;" multiple="">
                                </span>
                            </label>
                            <input type="text" class="form-control" readonly="">
                        </div>
                                </div>

                                <div class="form-group" >
                                  <label class="col-sm-3 control-label" for="videos">Videos</label>
                                  <div class="col-sm-7 input-group" style="padding-left: 17px;max-width: 350px;">
                            <label class="input-group-btn">
                                <span class="btn btn-primary">
                                    Browse <input id="large_image" name="videos" type="file" style="display: none;" multiple="">
                                </span>
                            </label>
                            <input type="text" class="form-control" readonly="">
                        </div>
                                </div>


                    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
                    <div class="form-group">
                                  <label class="col-sm-3 control-label" for="poi">POI*</label>
                                  <div class="col-sm-7">
                                  <select class="js-select-category js-source-states" id="poi" name="poi" required>
                                  </select>
                                  </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="location">Location*</label>
                        <div class="col-sm-7">
                            <input class="form-control" id="location_lat" name="location_lat" type="text" value="<%=edit&&edit_posts.location!=null?edit_posts.location[1]:''%>" placeholder="Latitude" style="
                            margin-right: 2%;" required>
                            <input class="form-control" id="location_long" name="location_long" type="text" value="<%=edit&&edit_posts.location!=null?edit_posts.location[0]:''%>"  placeholder="Longitude" required>

                            <a id="locate_on_map" class="btn btn-default pull-left" onclick="window.open('/posts_map', '_blank', 'location=yes,left=100, top=10,height=620,width=620,scrollbars=no,status=yes');">Google Maps</a>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-4">
                            <button class="btn btn btn-primary" type="submit"><i class="fa fa-pencil"></i>
                              <%=edit?'Update Post':'Add Post'%></button>
                        </div>
                    </div>
                </form>

            </div>



    </div>
    <!-- /container -->


      <script type="text/javascript">
      var schedule_count=<%=edit?edit_posts.schedule!=null?edit_posts.schedule.length:0:1%>;
      </script>
    <% include parts/scripts.ejs %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>

    <script type="text/javascript">
    $(document).ready(function() {
      /*
    <optgroup label="Alaskan/Hawaiian Time Zone">
    <option value="AK">Alaska</option>
    <option value="HI">Hawaii</option>
    </optgroup>
    */
    $.getJSON( "/categories/get/all/only_names", function( data ) {
       var items = [];


       var categories_s =<%-JSON.stringify(edit?edit_posts.categories:[])%>||[];

      if(!data.error)
      $.each( data.categories, function( key, val ) {

        items.push( "<option "+(categories_s.indexOf(val._id)>=0?"selected":"")+" value='" + val._id + "'>" + val.name + "</li>" );
      });
      else{
        /* TODO show error */
      }

var select = $(".js-select-category");
      $(items.join("")).appendTo(select);
        select.select2();
    });
    });
    </script>

</body>

</html>
