<% if(typeof table_gifts !='undefined'){%>
  <% table_gifts.forEach(function(gift,i){%>
<tr>
    <td><%=i%></td>
    <td><%=gift.title%></td>
    <td><%=gift.short_description%></td>
    <td><%=gift.picture_url%></td>
    <td><%=gift.business.name%></td>
    <td class="text-center">
      <a class='btn btn-info btn-xs' href="/users/edit/<%=edit_user._id%>/gift/<%=gift._id%>"><span class="glyphicon glyphicon-edit"></span> Edit</a>
       <a href="/users/remove/<%=edit_user._id%>/gift/<%=gift._id%>" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Del</a>
     </td>
</tr>

<%})}%>
