<% if(typeof table_users !='undefined'){%>
  <% table_users.forEach(function(user,i){%>
<tr>
    <td><%=i%></td>
    <td><%=user.username%></td>
    <td><%=user.displayName%></td>
    <td><%=user.birthdayFormat()%></td>
    <td><%=user.email%></td>
    <td class="text-center">
      <a class='btn btn-info btn-xs' href="/users/edit/<%=user._id%>"><span class="glyphicon glyphicon-edit"></span> Edit</a>
       <a href="/users/remove/<%=user._id%>" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Del</a>
     </td>
</tr>

<%})}%>
