<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title><%=config.websiteName%></title>
<meta name="viewport" content="width=device-width, user-scalable=no">
<script type="text/javascript">
var user=<%-JSON.stringify(user)%>, pois,posts=[<%-JSON.stringify(post)%>],update_feed= null,update_feed_ok = false,images_cdn ="<%=images_cdn%>",posts_users=[<%-JSON.stringify(users)%>];

</script>

<link rel="stylesheet" type="text/css" href="/static/css/client.css" />
</head>

<body>
<header>
  <a id="home_btn" href="/"><%=config.websiteName%></a>
  <% if(typeof user !='udenfined') {%>
<a id="discover" href="/discover">Discover</a>

    <%}else{%>
<a id="discover" href="/signup">Signup</a>

      <%}%>
</header>
  <% include ../parts/imp_html_home %>
  <% include ../parts/load_html_later %>
<post-container id="post-container">
</post-container>

<popups >
  <popup id="camp">
    Aceasta zona include si o zona de campare.
  </popup>
</popups>

<% include ../parts/modal_dialogs_home %>


<script type="text/javascript" src="/static/js/jquery-3.1.0.min.js"></script>
<script type="text/javascript" src="/static/js/client.js"></script>

</body>
</html>
