<!DOCTYPE html>
<html class="menu_page admin_cantina_page">
<head>
<meta charset="UTF-8">
<title><%=config.websiteName%></title>
<meta name="viewport" content="width=device-width, user-scalable=no">
<script type="text/javascript">
var user=null, pois,posts,update_feed= null,update_feed_ok = false,images_cdn,posts_users;
</script>
<link href="/static/css/style.css" rel="stylesheet">
</head>

<body>
<div class="page_wrapper">
<div class="title_admin_cantina">Admin cantina</div>
<div class="menu_container">
  <%if(todayMenu)todayMenu.forEach(function(dish){%>
  <div class="dish_row">
    <div class="dish_photo_wrapper">
      <img class="dish_photo" width="293px" src="<%=dish.cdn_logo%>" alt="<%=dish.name%>"/>
    </div>
    <div class="dish_details">
      <h4 class="dish_name"><%=dish.name%></h4>
      <div class="admin_btns">

        <a href="/admin_cantina/disable_menu/<%=dish.id%>" class="admin_dish_btn disable_btn <%if(!dish.is_selected){%>disabled<%}%>">Disable</a>
        <a href="/admin_cantina/enable_menu/<%=dish.id%>" class="admin_dish_btn enable_btn <%if(dish.is_selected){%>disabled<%}%>">Enable</a>
    </div>

    </div>
  </div>
  <%})%>
</div>


</div>
<div class="footer">
  <p>Copyright © Unitbv 2016. All Rights Reserved </p>
</div>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-112003984-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-112003984-1');
</script>

</body>
</html>
