<!DOCTYPE html>
<html class="menu_page">
<head>
<meta charset="UTF-8">
<title><%=config.websiteName%></title>
<meta name="viewport" content="width=device-width, user-scalable=no">
<script type="text/javascript">
var user=null, pois,posts,update_feed= null,update_feed_ok = false,images_cdn,posts_users;
</script>
<link href="/static/css/style.css" rel="stylesheet">
</head>

<body>
<div class="page_wrapper">
<header>
  <a id="home_btn" href="/"><img class="home_logo" src="/static/static_img/unitbv_cantina.png" alt="<%=config.websiteName%>"/></a>
  <div style="float:right;" class="menu_wrapper">
  <a id="home_link" href="/" >Acasa</a>
  <a id="menu_link" href="/meniu" class="active">Meniu</a>
  <a id="menu_link" href="mailto:cantina.memo.brasov@gmail.com" target="_blank">Feedback</a>
</div>
</header>
<div class="menu_container">
  <%if(todayMenu)todayMenu.forEach(function(dish){%>
  <div class="dish_row">
    <div class="dish_photo_wrapper">
      <img class="dish_photo" width="293px" src="<%=dish.cdn_logo%>" alt="<%=dish.name%>"/>
    </div>
    <div class="dish_details">
      <h4 class="dish_name"><%=dish.name%></h4>
<%if(dish.categories){%>
      <ul class="dish_cats">
        <%dish.categories.forEach(function(cat){%>
        <li class="dish_cat">
             <%=cat.name%>
        </li>
        <%})%>
      </ul>
      <%}%>
      <p class="dish_description"><%=dish.short_description%></p>
      <div class="dish_price">
        <b><%=dish.price%></b>/<span class="dish_quant"><%=dish.quantity%></span>
      </div>
    </div>
  </div>
  <%})%>
</div>


</div>
<div class="footer">
  <p>Copyright © Unitbv 2016. All Rights Reserved </p>
</div>
<script src="/static/js/socket.io.js"></script>
<script>
  var socket = io.connect();
  socket.on('update_menu', function (data) {
    location.reload();
  });
</script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-112003984-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-112003984-1');
</script>

<!-- Facebook Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '119001238493576');
  fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=119001238493576&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->

</body>
</html>
